.logo {
    border-radius:20px;
    width:140px;
    height:70px;
}
.top-header {
    display: flex;
    justify-content:space-between;
    background-color:rgb(184, 255, 231);
    border-radius:20px;
}
.title {
    font-size:20px;
    position:absolute;
    left:46%;
}
.back-welcome {
    color:rgb(0, 136, 255);
    position:absolute;
    top:18px;
    right:30px;
    font-size:30px;
}
.creator-selection {
    display: flex;
    justify-content: center;
    border-radius:30px;
}
.select-methed-text {
    font-size:30px;
    position:absolute;
    top:200px;
}
.select-login-methed {
    display:flex;
    justify-content:space-between;
    position:absolute;
    top:400px;
    gap:50px;
}
.login {
    color:rgb(0, 136, 255);
    border: 3px solid rgb(0, 136, 255);
    background-color:rgb(184, 255, 231);
    border-radius:30px;
    width:230px;
    height:70px;
}
.create {
    color:rgb(0, 136, 255);
    border: 3px solid rgb(184, 255, 231);
    background-color:white;
    border-radius:15px;
    width:230px;
    height:70px;
}